body {
  margin: 0;
}

div#root {
  background: #F3EFF3;
  display: flex;
  flex-direction: row;
  gap: 6vw;
  padding: 4vw;
}

button {
  background: transparent;
  border: none;
}

div#Sidebar {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

div#resume {
  width: 50vw;
}

div#optionCard {
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 17px;
  
}

div#PersonalDetailsCard {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 17px;
  margin: 20px 0px;
  text-align: center;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
}

label {
  font-size: 20px;
  font-weight: bold;
}

div#Experience {
  background: white;
  border-radius: 17px;
  margin: 20px 0px;
  text-align: center;
  
}

div#Education {
  background: white;
  border-radius: 17px;
  margin: 20px 0px;
  text-align: center;
  
}

#Education_head,
#Experience_head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.head_button {
  border-radius: 100000px;
  height: 2%;
  width: 10%;
  border: none;
}

.preform {
  display: flex;
  border-top: 6px solid #F3EFF3;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

div#Education_button, #Experience_button {
  padding: 20px;
  border-top: 6px solid #F3EFF3;
}

form#EducationForm,
form#ExperienceForm {
  border-top: 8px solid #F3EFF3;
  padding: 20px;
}

#EducationForm_buttonContainer,
#ExperienceForm_buttonContainer {
  border-top: 8px solid #F3EFF3;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#Education_button > button ,#Experience_button > button , div#EducationForm_buttonContainer > button{
  border: 4px solid #F3EFF3;
  border-radius: 50px;
  padding: 10px;
}
.preform_buttonContainer {
  display: flex;
  gap: 10px;
}

.preform > button {
  background: transparent;
}
